/*<!-- Bootstrap CSS Overrides -->*/

/*Home*/
#login-form {
  margin-top: 18rem !important;
}

.loginregister {
  display: none !important;
}

span:hover {
  cursor: pointer;
  text-decoration: underline;
}

/*Navigation*/
.bg-light {
    background-color: black!important;
}

.navbar-light .navbar-brand {
    color: rgba(220,220,220,.9);
}

.navbar-light .navbar-brand:hover {
    color: white;
}


.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255,255,255,.9);
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(220,220,220,.9);
}
.navbar-light .navbar-nav .nav-link:hover {
    color:white;
}

.navbar-light .navbar-toggler-icon {
    background-color: rgba(145,145,145,.9);
    border-radius: 5px;
}


/*Sarch Page*/
.filters, #filter_button{
  margin-top: 2rem;
}

#card_return{
  margin-top: 4rem;
}
.card_show {
  margin: 5px;
}

.hide {
  display: none;
}

/*Card Deatils Page*/
#card_name {
    text-align: center;
}

#card_details_container {
    margin: 15px;
}

#card_image {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#myVideo {
  position: absolute;
  right: 0;
  top: 93px;
  min-width: 100%; 
  min-height: 100%;
    display: block;
    margin: 0 auto;
    z-index: -4;
}

#t2 {
 margin-top: 4rem; 
}

#add_to_deck_controls {
  max-width: 200px;
}

.deck_cards_holder {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row !important;
}

.deck_card:nth-child(odd) {
    background-color: #888888;
}

.deck_card:nth-child(even) {
    background-color: #666666;
}


.deck_card {
    /*border: 1px solid;*/
    margin: 10px;
    width: 135px;
    border-radius: 20px; 
    text-align: center;
    padding: 5px;
    box-shadow: 10px 10px 5px #dddddd;
}

.deck_card:hover {
  background-color: #444444;
}

.count {
  color: #ffe884;
  font-size: 15px;
  font-weight: bold;
}

.deck_card a{
  color:white;
  position: relative;
  top: -4px;
  text-decoration: none;
}
.deck_card a img {
    position: relative;
    top: -13px;
}

.card_name {
  font-size: 1.05em;
  font-weight: normal;
  height: 3em;
  text-overflow: ellipsis;
  overflow: hidden;
}



#page_container {
  padding: 12px;
}


