<!DOCTYPE html>
<html lang="en">
<head>

<title>{{title}}</title>

<!-- Header Resources -------------------------------------------------------------------->
{% include 'resources.html' %}
<!-- ================================================= -->
</head>
<body>

<!-- NAV Bar -------------------------------------------------------------------->
{% include 'nav.html' %}


<!-- Content -------------------------------------------------------------------->
{% if name == 'error' %}

	<h2 id="card_name">Error Finding Card</h2>
	
{% else %}
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript">
		// Function to set deck_id value for POST
		function setDeckId() {

			var deck_id = $("#deck_selector :selected").attr("deck_id");
			var deck_name = document.getElementById("deck_selector").value;
			var card_name = document.getElementById("card_name").value;
			var api_id = document.getElementById("api_id").value;
			var image_url = document.getElementById("image_url").value;

			// console.log(deck_name);

			$.ajax({
			    url: "{{url_for('add_to_deck')}}",
			    method: "POST",
			    data:{
					"deck_id":deck_id,
					"card_name":card_name,
					"api_id":api_id,
					"image_url":image_url
			    },
			    success: function(data) {

			    	$("#success").removeClass();
			    	$("#success").fadeOut();
			    	
			    	var response = data;

			    	// console.log(response);
			    	// console.log(typeof(response));
			    	// console.log(response['status']);			    	

			    	// Check response - check for too many cards in deck
			    	if (response == '{"status": "TOO_MANY"}') {
				    	$("#success").addClass("alert alert-danger");
				    	document.getElementById("success").innerHTML = deck_name + " cannot have more than 4 " + card_name;
			    	}
			    	// 
			    	else {
				    	$("#success").addClass("alert alert-success");
				    	document.getElementById("success").innerHTML = card_name + " added to " + deck_name;
			    	}

			    	$("#success").fadeIn();

			    },
	            error: function(error) {
	                $("#success").addClass("alert alert-danger");
	                document.getElementById("success").innerHTML = "Error adding card";
	            }
			});
		}
	</script>

	{% if logged_in == 'not' %}
		<!-- dont show add to deck options -->
		<p id="save_to_deck">Log in to save to a deck</p>
	{% else %}
		<!-- Show Add Card success message -->
		<div id="success"></div>
		<div class="page_container">
			<!-- Show Add Card to Deck Options -->
			<div id=add_to_deck_controls>
				<h3>Choose Deck</h3>

				<select class="form-control" id="deck_selector" name="deck_name">
					{% for d in decks %}
				  		<option deck_id="{{ d[0] }}" value="{{ d[1] }}">{{ d[1] }}</option>
					{% endfor %}
				</select>
				<!-- Hidden value to send data to post -->
				<input type="hidden" id="deck_id" name="deck_id" value="X">
				<input type="hidden" id="card_name" name="card_name" value="{{name}}">
				<input type="hidden" id="api_id" name="api_id" value="{{multiverse_id}}">
				<input type="hidden" id="image_url" name="image_url" value="{{image_url}}">
				<br/>
				<button class="btn btn-success" onclick="setDeckId();">Add to Deck</button>


			</div>
		</div>
	{% endif %} 


<!-- <button onclick="setDeckId();">Add to Deck</button> -->

	<h2 id="card_name">{{name}}</h2>
	<div id="card_details_container">

		<img id="card_image" class="mx-auto d-block" src="{{image_url}}" alt="{{name}}">
		<table class="table table-striped">
			<tbody>
				<tr>
					<th>Layout</th>
					<td>{{layout}}<td>
				</tr>
					<th>Cost</th>
					<td id="mana_cost"><td>
				</tr>
				<tr>
					<th>CMC</th>
					<td>{{cmc}}<td>
				</tr>
				<tr>
					<th>Colors</th>
					<td id="colors"><td>
				</tr>
				<tr>
					<th>Color Identity</th>
					<td id="identity"><td>
				</tr>
				<tr>
					<th>Type</th>
					<td>{{type}}<td>
				</tr>
				<tr>
					<th>Supertypes</th>
					<td id="supertypes"><td>
				</tr>
				<tr>
					<th>Subtypes</th>
					<td id="subtypes"><td>
				</tr>
				<tr>
					<th>Rarity</th>
					<td>{{rarity}}<td>
				</tr>
				<tr>
					<th>Text</th>
					<td>{{text}}<td>
				</tr>
				<tr>
					<th>Flavor</th>
					<td>{{flavor}}<td>
				</tr>
				<tr>
					<th>Power</th>
					<td>{{power}}<td>
				</tr>
				<tr>
					<th>Toughness</th>
					<td>{{toughness}}<td>
				</tr>
				<tr>
					<th>Life</th>
					<td>{{life}}<td>
				</tr>
				<tr>
					<th>Set</th>
					<td>{{set}}<td>
				</tr>
				<tr>
					<th>Set Name</th>
					<td>{{set_name}}<td>
				</tr>
			</tbody>
		</table>
		<table id="t2" class="table table-striped">
			<thead>
				<th>Legality</th>
				<th>Format</th>
			</thead>
			<tbody>
			  {% for i in legalities %}
			    <tr>
			      <td>{{i.legality}}</td>
			      <td>{{i.format}}</td>
			    </tr>
			  {% endfor %}
			</tbody>
		</table>

	</div> <!-- End card_details_container -->

<!-- Card Script -------------------------------------------------------------------->
<script>

// Function to show mana cost images
String.prototype.inList=function(list){
    return (Array.apply(null, arguments).indexOf(this.toString()) != -1)
}
window.onload = function(){ 
	var cost = '{{mana_cost}}'
     var legalities = {{legalities|tojson|safe}};
     var colors = {{colors|safe}};
     var supertypes = {{supertypes|safe}};
     var subtypes = {{subtypes|safe}};
     var identity = {{color_identity|safe}};
     var temp = '';
     var temp2 = '';

    // console.log(cost);

    var cost_html = "";

    if (cost == "None") {
    	cost_html += "None"
    }
    else {
	    for(var i = 0; i < cost.length; i++) {
	    	if(cost.charAt(i) != "{" && cost.charAt(i) != "}") {
			if(cost.charAt(i) == '/' || cost.charAt(i+1) == '/') {
				temp = ''
				if(cost.charAt(i+1) == '/'){
					temp = temp+cost.charAt(i)+cost.charAt(i+2)
					i++
					i++
					cost_html += "<img src='../static/media/"+temp+".png' width='40'/>"
					temp = ''
					continue
				}
				if(cost.charAt(i) == '/'){
					temp = temp+cost.charAt(i-1)+cost.charAt(i+1)
					i++
					cost_html += "<img src='../static/media/"+temp+".png' width='40'/>"
					temp = ''
				}
			}
			if(!isNaN(cost.charAt(i)) && !isNaN(cost.charAt(i+1))){
				if(!isNaN(cost.charAt(i+2))){
					if(!isNaN(cost.charAt(i+3))){
						cost_html += "<img src='../static/media/1000000.png' width='40'/>"
						break
					}
					else{
						cost_html += "<img src='../static/media/100.png' width='40'/>"
						break
					}
				}
				else{
					cost_html += "<img src='../static/media/"+cost.charAt(i)+cost.charAt(i+1)+".png' width='40'/>"
					i++
				}
			}
			else{
				cost_html += "<img src='../static/media/"+cost.charAt(i)+".png' width='40'/>"
			}   		
	    	}
	    }
	}

    console.log(cost_html);
    document.getElementById("mana_cost").innerHTML = cost_html;

    document.getElementById("colors").innerHTML = colors.join(', ');
    document.getElementById("supertypes").innerHTML = supertypes.join(', ');
    document.getElementById("subtypes").innerHTML = subtypes.join(', ');
    document.getElementById("identity").innerHTML = identity.join(', ');

}

</script>

{% endif %} 
<!-- end error if -->

</body>
</html>
