<!DOCTYPE html>
<html lang="en">
<head>

<title>{{title}}</title>

<!-- Header Resources -------------------------------------------------------------------->
{% include 'resources.html' %}
<!-- ================================================= -->
</head>
<body>

<!-- NAV Bar -------------------------------------------------------------------->
{% include 'nav.html' %}


<!-- Content -------------------------------------------------------------------->
{% if name == 'error' %}

	<h2 id="card_name">Error Finding Card</h2>
	
{% else %}
	<h2 id="card_name">{{name}}</h2>
	<div id="card_details_container">

		<img id="card_image" class="mx-auto d-block" src="{{image_url}}" alt="{{name}}">
		<table class="table table-striped">
			<tbody>
				<tr>
					<th>Layout</th>
					<td>{{layout}}<td>
				</tr>
					<th>Layout</th>
					<td id="mana_cost"><td>
				</tr>
				<tr>
					<th>CMC</th>
					<td>{{cmc}}<td>
				</tr>
				<tr>
					<th>Colors</th>
					<td id="colors"><td>
				</tr>
				<tr>
					<th>Color Identity</th>
					<td id="identity"><td>
				</tr>
				<tr>
					<th>Type</th>
					<td>{{type}}<td>
				</tr>
				<tr>
					<th>Supertypes</th>
					<td id="supertypes"><td>
				</tr>
				<tr>
					<th>Subtypes</th>
					<td id="subtypes"><td>
				</tr>
				<tr>
					<th>Rarity</th>
					<td>{{rarity}}<td>
				</tr>
				<tr>
					<th>Text</th>
					<td>{{text}}<td>
				</tr>
				<tr>
					<th>Flavor</th>
					<td>{{flavor}}<td>
				</tr>
				<tr>
					<th>Power</th>
					<td>{{power}}<td>
				</tr>
				<tr>
					<th>Toughness</th>
					<td>{{toughness}}<td>
				</tr>
				<tr>
					<th>Life</th>
					<td>{{life}}<td>
				</tr>
				<tr>
					<th>Legal</th>
					<td id="legalities"><td>
				</tr>
				<tr>
					<th>Set</th>
					<td>{{set}}<td>
				</tr>
				<tr>
					<th>Set Name</th>
					<td>{{set_name}}<td>
				</tr>
			</tbody>
		</table>

	</div> <!-- End card_details_container -->

<!-- Card Script -------------------------------------------------------------------->
<script>

// Function to show mana cost images
window.onload = function(){ 
	var cost = '{{mana_cost}}'
     var legalities = {{legalities|tojson|safe}};
     var legalitiesArr = [];
     var colors = {{colors|safe}};
     var supertypes = {{supertypes|safe}};
     var subtypes = {{subtypes|safe}};
     var identity = {{color_identity|safe}};

    console.log(cost);

    var cost_html = "";

    if (cost == "None") {
    	cost_html += "None"
    }
    else {
	    for(var i = 0; i < cost.length; i++) {
	    	if(cost.charAt(i) != "{" && cost.charAt(i) != "}") {
	    		cost_html += "<img src='../static/media/"+cost.charAt(i)+".png' width='40'/>"
	    	}
	    }
	}

    console.log(cost_html);
    document.getElementById("mana_cost").innerHTML = cost_html;
    
    for(var i = 0; i < legalities.length; i++) {
        legalitiesArr.push(legalities[i].format);
    }

    document.getElementById("legalities").innerHTML = legalitiesArr.join(', ');
    document.getElementById("colors").innerHTML = colors.join(', ');
    document.getElementById("supertypes").innerHTML = supertypes.join(', ');
    document.getElementById("subtypes").innerHTML = subtypes.join(', ');
    document.getElementById("identity").innerHTML = identity.join(', ');

}

</script>

{% endif %} 
<!-- end error if -->

</body>
</html>
