<!DOCTYPE html>
<html lang="en">
<head>

<title>{{title}}</title>

<!-- Header Resources -------------------------------------------------------------------->
{% include 'resources.html' %}
<!-- ================================================= -->
</head>
<body>

<!-- NAV Bar -------------------------------------------------------------------->
{% include 'nav.html' %}


<!-- Content -------------------------------------------------------------------->
{% if decks_to_show == 'error' %}

	<h2 id="card_name">Error Finding Decks</h2>
	
{% else %}
	<ul class="list-group">
		{% for d in decks_to_show %}
		<!-- 	
		d[0] = deck_id
		d[1] = deck_count
		d[2] = deck_name
		d[3] = user_name
		d[4] = rating 		
		-->

		<a href='{{ url_for("view_deck", deck_id=d[0]) }}'>
			<li class="list-group-item">
				{{d[2]}}
				from user: {{d[3]}}
				{{d[1]}} cards
				<span class="badge badge-primary badge-pill">{{d[4]}}</span>	
			</li>
		</a>
		{% endfor %}
	</ul>
{% endif %} 
<!-- end error if -->

</body>
</html>
