<!DOCTYPE html>
<html lang="en">
<head>

<title>{{title}}</title>

<!-- Header Resources -------------------------------------------------------------------->
{% include 'resources.html' %}


<!-- ================================================= -->
</head>
<body>

<!-- NAV Bar -------------------------------------------------------------------->
{% include 'nav.html' %}

<!-- Content -------------------------------------------------------------------->
<div >
	<video autoplay muted loop id="myVideo">
	  <source src="static/media/home_vid.mp4" type="video/mp4">
	  Your browser does not support HTML5 video.
	</video>
</div>


</body>
</html>