<!DOCTYPE html>
<html lang="en">
<head>

<title>{{title}}</title>

<!-- Header Resources -------------------------------------------------------------------->
{% include 'resources.html' %}


<!-- ================================================= -->
</head>
<body>

<!-- NAV Bar -------------------------------------------------------------------->
{% include 'nav.html' %}

<!-- Content -------------------------------------------------------------------->
<div >
	<video autoplay muted loop id="myVideo">
	  <source src="static/media/home_vid.mp4" type="video/mp4">
	  Your browser does not support HTML5 video.
	</video>
</div>

<div class="container">



  <div class="row" id="login-form">

    <div class="col-lg-6 col-md-7 col-sm-10 mx-auto">
      <form id="login" class="bg-white p-3" action="{{ url_for('login') }}" method="POST">

	{% if bad_login == 'yes' %}
		<p style='color:red'>Bad Username or Password</p>
	{% endif %}

	{% if registered is defined %}
		{% if registered == 'yes' %}
			<p style='color:green'>Registered, you may now log in.</p>
		{% else %}
			<p style='color:red'>{{registered}}</p>
		{% endif %}
	{% endif %}

	<div class="form-group">
	  <input type="text" name="username"
	  class="form-control"
	  placeholder="Username" />
	</div>
	<div class="form-group">
	  <input type="password" name="password"
	  class="form-control"
	  placeholder="Password" />
	</div>
	<div class="form-group">
	  <button type="submit" class="btn btn-dark
	    btn-block">Login</button>
	</div>
	<div class="form-group text-center">
	  <p>Don't Have an Account?
	     <span onclick="changeForm();">Register</span>
	  </p>
	</div>
      </form>

      <form id="register" class="bg-white p-3 show" action="{{ url_for('signup') }}" method="POST">
	<div class="form-group">
	  <input type="text" name="username"
	  class="form-control"
	  placeholder="Username" />
	</div>
	<div class="form-group">
	  <input type="password" name="password"
	  class="form-control"
	  placeholder="Password" />
	</div>
	<div class="form-group">
	  <button type="submit" class="btn btn-dark
	    btn-block">Register</button>
	</div>
	<div class="form-group text-center">
	  <p>Already Have an Account?
	     <span onclick="changeForm();">Login</span>
	  </p>
	</div>
      </form>
<script>


	$(document).ready(function() { document.getElementsByClassName("show")[0].style.display = "none !important" });

	function changeForm() {
		if($('#register').hasClass('show') == true) {
			$('#login').addClass('show');
			$('#register').removeClass('show');
		} else {
			$('#login').removeClass('show');
			$('#register').addClass('show');
		}
	}

</script>
</body>
</html>
