<!DOCTYPE html>
<html lang="en">
<head>

<title>{{title}}</title>

<!-- Header Resources -------------------------------------------------------------------->
{% include 'resources.html' %}


<!-- ================================================= -->
</head>
<body>

<!-- NAV Bar -------------------------------------------------------------------->
{% include 'nav.html' %}

<!-- Content -------------------------------------------------------------------->
<p>UserID: {{username}}</p>


<!-- add new deck form -->
<h3>Create a New Deck</h3>
<form id="add_deck" action="{{url_for('mydecks')}}" method="POST"> 
	<input type="text" id="add_deck_name" name="add_deck_name" placeholder="Deck Name...">
	<button type="submit">Add Deck</button>
</form>

<br/><br/><br/>

<!-- list of decks -->
<h3>My Saved Decks</h3>
<hr/>
{% for i in range(deck_names|length) %}
	{{ deck_names[i] }}
	{{ deck_cards[i] }}
	<hr/>
{% endfor %}


</body>
</html>