<!DOCTYPE html>
<html lang="en">
<head>

<title>{{title}}</title>

<!-- Header Resources -------------------------------------------------------------------->
{% include 'resources.html' %}


<!-- ================================================= -->
</head>
<body>

<!-- NAV Bar -------------------------------------------------------------------->
{% include 'nav.html' %}

<!-- Content -------------------------------------------------------------------->
<!-- <p>UserID: {{username}}</p> -->

	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
	<script type="text/javascript">	

		// Function to set deck_id value for POST
		function addDeck() {

			var add_deck_name = document.getElementById("add_deck_name").value;

			// validate for empty name
			if (add_deck_name == "") {
				document.getElementById("add_deck_error").innerHTML = "Deck must have a name";
				document.getElementById("add_deck_name").style.borderColor = "red";

			}
			else {
				$.ajax({
				    url: "{{url_for('add_deck')}}",
				    method: "POST",
				    data:{
						"add_deck_name":add_deck_name
				    },
				    success: function(data) {
				    	console.log("Added Deck");
				    	//document.getElementById("success").innerHTML = card_name + " successfully added to " + deck_name;
				    	location.reload();
				    },
		            error: function(error) {
		                console.log(error);
		                //document.getElementById("success").innerHTML = "Error adding card";
		            }
				});
			}
		}

		// function to remove a user's deck
		function removeDeck(deck_id) {

			$.ajax({
				// call remove_deck route in mtg.py
			    url: "{{url_for('remove_deck')}}",
			    // send POST data
			    method: "POST",
			    data:{
			    	// send the deck_id to be removed (unique PK)
					"deck_id":deck_id
			    },
			    success: function(data) {
			    	console.log("Removed Deck");
			    	// reload page
			    	location.reload();
			    },
	            error: function(error) {
	                console.log(error);
	                //error response in DOM
	                document.getElementById("success").innerHTML = "Error adding card";
	            }
			});
		}	



		// function to remove a user's deck
		function removeCard(card_id) {

			$.ajax({
				// call remove_card route in mtg.py
			    url: "{{url_for('remove_card')}}",
			    // send POST data
			    method: "POST",
			    data:{
			    	// send the card_id to be removed (unique PK)
			    	"card_id":card_id
			    },
			    success: function(data) {
			    	console.log("Removed Card");

			    	// remove modal backdrop
					$('body').removeClass('modal-open');
					$('.modal-backdrop').remove();

					// remove card
			    	document.getElementById("card"+card_id).remove();

			    	// re-order cards
			    	countCards();
			    },
	            error: function(error) {
	                console.log(error);
	                //document.getElementById("success").innerHTML = "Error adding card";
	            }
			});
		}	

	</script>

<div class="page_container">
	<!-- add new deck form -->
	<h3>Create a New Deck</h3> <span id="add_deck_error" style="color:red"></span>
	<!-- <form id="add_deck" action="{{url_for('mydecks')}}" method="POST">  -->
		<input class="form-control" type="text" maxlength="50" id="add_deck_name" name="add_deck_name" placeholder="Deck Name..." required>
		<div class="invalid-feedback">
        	Please provide a valid state.
      	</div>
		<br/>
		<button class="btn btn-success" onclick="addDeck()">Add Deck</button>
	<!-- </form> -->

	<br/><br/><br/>

	<!-- list of decks -->
	<h3>My Saved Decks</h3>
	<hr/>

	<div class="deck">

	{% for i in range(deck_names|length) %}
	<div class="a_deck">
		  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample{{ deck_ids[i] }}" >
		    {{ deck_names[i] }}
		  </button>
		  
		  <!-- remove a deck -->
		  <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#deckModal{{ deck_ids[i] }}">X</button>

		  <!-- number of cards -->
		  <span class="cards_in_deck"></span>
	 </div>
		<!-- Modal -->
		<script>
			$(document).on("click", "#rd_button{{ deck_ids[i] }}", function(event){
    			removeDeck('{{ deck_ids[i] }}');
			});

		</script>
		<div class="modal fade" id="deckModal{{ deck_ids[i] }}" tabindex="-1" role="dialog" aria-labelledby="deckModal{{ deck_ids[i] }}Label" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="deckModal{{ deck_ids[i] }}Label">Remove Deck?</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        Really remove deck {{deck_names[i]}}?
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
		        <button type="button" class="btn btn-primary" id="rd_button{{ deck_ids[i] }}")">Remove Deck</button>
		      </div>
		    </div>
		  </div>
		</div>


	  	<input type="hidden" id="{{ deck_ids[i] }}" name="deck_id" value="{{ deck_ids[i] }}">
		<div id="collapseExample{{ deck_ids[i] }}" class="collapse">
			<div class="card card-body deck_cards_holder">
			{% for card in deck_cards[i] %}
				<div class="deck_card" id="card{{ card[3] }}">


					<!-- {{ loop.index }} -->
					<span class="count"></span> <br/>


					<a href='card/{{ card[0] }}'>
					
						<div class="card_name">
						{{ card[1] }}
						</div> <!-- Card Name --> <br/>
						<img src="{{ card[2] }}" height="125">
					</a>
					<br/>
					<!-- remove a card -->
					<button type="button" class="btn btn-dark" data-toggle="modal" data-target="#cardModal{{ card[3] }}">X</button>
						<!-- Modal -->
						<script>
							$(document).on("click", "#rc_button{{ card[3] }}", function(event){
				    			removeCard('{{ card[3] }}');
							});

						</script>
						<div class="modal fade" id="cardModal{{ card[3] }}" tabindex="-1" role="dialog" aria-labelledby="cardModal{{ card[3] }}Label" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="cardModal{{ card[3] }}Label">Remove Card?</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        Really remove  {{ card[1] }} from {{deck_names[i]}}?
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
						        <button type="button" class="btn btn-primary" id="rc_button{{ card[3] }}">Remove Card</button>
						      </div>
						    </div>
						  </div>
						</div>
				</div>
				
			{% endfor %}	
			</div>
		</div>
		<hr/>

	{% endfor %}
	</div>
</div>

<script>
	// print count first tim eon page load
	$(document).ready(function() { countCards(); });

	// function to order the cards by printing the count
	function countCards() {
		// get all deck elements
		var decks = document.getElementsByClassName("deck_cards_holder");

		// for each deck...
		for (var i = 0; i < decks.length; i++) {
			// get all cards in this deck
			var cards = decks[i].getElementsByClassName("count");

			// cards_in_deck
			document.getElementsByClassName("cards_in_deck")[i].innerHTML = "("+cards.length+") Cards";

			// for each card
			for (var j =1; j <= cards.length; j++) {
				//console.log(""+j);
				// set card number
				cards[j-1].innerHTML = ""+j;
			}
		}
	}
</script>

</body>
</html>