<!-- NAV -->
<!-- ================================================= -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<!-- Logo -->
  <a href="{{ url_for('home') }}"><img src="/static/media/magic_logo.png" alt="logo" width="150"></a>

  <a class="navbar-brand" href="{{ url_for('home') }}">MTG Deck Planner</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('home') }}">Explore Decks</a>
      </li>


      {% if logged_in != 'not' %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('mydecks') }}">My Decks</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
        </li>
      {% endif %}


    </ul>

    <form class="form-inline my-2 my-lg-0" action="{{ url_for('search') }}" method="POST">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" name="button" value="search">Search</button>
    </form>
  </div>
</nav>
<!-- ================================================= -->
