<!DOCTYPE html>
<html lang="en">
<head>

<title>{{title}}</title>

<!-- Header Resources -------------------------------------------------------------------->
{% include 'resources.html' %}
<!-- ================================================= -->

</head>
<body>

<!-- NAV Bar -------------------------------------------------------------------->
{% include 'nav.html' %}

<!-- Content -------------------------------------------------------------------->
<div class="container">
    <form action="{{ url_for('search') }}" method="POST">


      <!-- name form -->	
      <label class="form-check-label">Card Name:</label>
      <input class="form-control mr-sm-2" type="search" id="in_page_search" placeholder="Search" value="{{search_name}}" name="search">

	    <div class="form-row filters">
	      <div class="col">
		      <label class="form-check-label">Filter By Color:
		      <div class="form-check">
					<input class="form-check-input" name="check_white" type="checkbox" value="">
					<label class="form-check-label">White</label>
		      </div>
		      <div class="form-check">
					<input class="form-check-input" name="check_blue" type="checkbox" value="">
					<label class="form-check-label">Blue</label>
		      </div>
		      <div class="form-check">
					<input class="form-check-input" name="check_black" type="checkbox" value="">
					<label class="form-check-label">Black</label>
		      </div>
		      <div class="form-check">
					<input class="form-check-input" name="check_red" type="checkbox" value="">
					<label class="form-check-label">Red</label>
		      </div>
		      <div class="form-check">
					<input class="form-check-input" name="check_green" type="checkbox" value="">
					<label class="form-check-label">Green</label>
		      </div>
	      </div>
	      <div class="col">
		      <label>Filter By CMC:</label>
		      <div class="form-check">
		        <input class="form-check-input" type="radio" name="cmcSign" value="equals" checked>
		        <label class="form-check-label">=</label>
		      </div>
<!-- 		      <div class="form-check">
		        <input class="form-check-input" type="radio" name="cmcSign" value="greater">
		        <label class="form-check-label">>=</label>
		      </div>
		      <div class="form-check">
		        <input class="form-check-input" type="radio" name="cmcSign" value="less">
		        <label class="form-check-label"><=</label>
		      </div> -->
		      <div class="form-group">
	      		<input type="text" class="form-control" name="cmcValue">
		      </div>
	      </div>
	      <div class="col">
		      <label>Filter By Power:</label>
		      <div class="form-check">
		        <input class="form-check-input" type="radio" name="powerSign" value="equals" checked>
		        <label class="form-check-label">=</label>
		      </div>
<!-- 		      <div class="form-check">
		        <input class="form-check-input" type="radio" name="powerSign" value="greater">
		        <label class="form-check-label">>=</label>
		      </div>
		      <div class="form-check">
		        <input class="form-check-input" type="radio" name="powerSign" value="less">
		        <label class="form-check-label"><=</label>
		      </div> -->
		      <div class="form-group">
	      		<input type="text" class="form-control" name="powerValue">
		      </div>
	      </div>
	      <div class="col">
		      <label>Filter By Toughness:</label>
		      <div class="form-check">
		        <input class="form-check-input" type="radio" name="touchnessSign" value="equals" checked>
		        <label class="form-check-label">=</label>
		      </div>
<!-- 		      <div class="form-check">
		        <input class="form-check-input" type="radio" name="touchnessSign" value="greater">
		        <label class="form-check-label">>=</label>
		      </div>
		      <div class="form-check">
		        <input class="form-check-input" type="radio" name="touchnessSign" value="less">
		        <label class="form-check-label"><=</label>
		      </div> -->
		      <div class="form-group">
	      		<input type="text" class="form-control" name="toughnessValue">
		      </div>
	      </div>
          </div>
	  <div class="form-row">
	      <div class="col">
		      <div class="form-group">
		  	<button type="submit" class="btn btn-dark btn-block" id="filter_button" name="button" value="filter">Submit</button>
		      </div>
	      </div>
	  </div>
    </form>
</div>

<div id='card_return' class="container">
<div class="row">
{% if cards == 'error' %}
	<h2>Error Searching for Cards</h2>
{% else %}
		  
  {% for n in cards %}
  <div class="card_show col">
    <p>{{n[0]}}</p>
    <a href="card/{{n[2]}}" ><img src="{{n[1]}}" alt="{{n[0]}}"></a>
  </div>
  {% endfor %}

{% endif %} 
</div>
</div>
</body>
</html>
